
html{
    font-size:16px;
    font-family: 'Indie Flower', cursive;
    
} 
.content{

    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form{
    background: #542763d4;
    width: 350px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 750px;
    border-radius: 10px;
    padding: 10px;
    color: white;

}

input{
    font-size:15px;
    padding : 5px;
    margin  : 5px;
    border-radius: 10px;
    width: 100px;
}

textarea {
    resize  : none;
    overflow: auto;
    display : block;
    padding : 10px;
    margin  : 10px;
    width   : 300px;
    height  : 100px;
    border-radius: 10px;

  }

body{
    background-image:url(images/3859daf6e5dedd6f5d77285968d5f148.jpg);
    background-size: cover;
}

.button{
    border-radius: 5px;
    margin: 20px;
    font-size:1.3em;
    font-family: 'Indie Flower', cursive;
}

.button:hover
 {
    background: skyblue;
 }
 .button:active{
transform:scale(.50);

 }
img{
    border-radius: 50px;
    margin: 0 auto;
    position: center;
    width:100px;
}
@media only screen and (max-width: 768px) {
    label {
        font-size: 25px;
      }
      textarea {
          font-size: 25px;
          text-transform: uppercase;
      }
      .button{
          border-radius: 5px;
          margin: 20px;
          font-size:1.7em;
          font-family: 'Indie Flower', cursive;
          background: plum;
      }
    }

  @media handheld and (max-width: 480px) and (orientation: landscape) { 
    textarea {
        font-size: 30px;
        text-transform: uppercase;
    }
    

 }
